{% extends 'main/base.html' %}
{%block title%} Home {%endblock%}

{%block mainHeading%} 
<span class="navbar-text custom-white-text unselectable">Home</span>
{%endblock%}

{%block content%}
<div class="row justify-content-left">
    <div class="col-9">
        <h2 class="mt-2 unselectable">Welcome, {{user.username}}</h2>
        <hr class="mt-0 mb-4" style="background-color: white;">
        <p>Thank you for Registering with us.</p>
        <p>This is a simple todolist app designed for the Techwe Innovation coding challenge, But its fully functional in all aspects.</p>
        <p>Developed by: Saravanan Ramanathan.</p>
    </div>
</div>
{%endblock%}

{%block notloggedin%}
<div class="row justify-content-left">
    <div class="col-9">
        <h2 class="mt-2 unselectable">Welcome</h2>
        <hr class="mt-0 mb-4" style="background-color: white;">
        <p>You need to be registered with us to use this site...</p>
        <p>Its a very simple process to register, hope to see you soon after your registration.</p>
    </div>
</div>
{%endblock%}

