{% extends 'main/base.html' %}
{%block title%} view todolist {%endblock%}


{%block mainHeading%}
    {%if headingName%}
    <div class="navbar-text custom-white-text unselectable">TaDoList: {{headingName}}</div>
    {%else%}
    <span class="navbar-text custom-error-text unselectable">Error-no such list</span>
    {%endif%}
{%endblock%}

{%load crispy_forms_tags%}

{%block content%}
<form method="post" action="#" class="form-horizontal">
 {% csrf_token %}
 {%if list.exists%}
  {%for data in list%}
    <!--<h1>{{data.name}}</h1>-->
        {%if data.item_set.all.exists%}
         {%for i in data.item_set.all%}
         
         <!--<div class="form-inline">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    {%if i.complete == True%} 
                    <input type="checkbox" value="clicked" name="c{{i.id}}" checked>
                    {%elif i.complete == False%} 
                    <input type="checkbox" value="clicked" name="c{{i.id}}">  
                    {%endif%}
                </div>
            </div>
            <div class="control-group custom-control-inline">
                <label class="control-label" for="inputPassword">Title:</label>
                <div class="controls">
                    <input type="text" value="{{i.text}}" name="item-name{{i.id}}" id="inputPassword" placeholder="Title" />
                </div>
            </div>
            
        </div>-->

            <div class="input-group mb-3">
               <div class="input-group-prepend">
                    <div class="input-group-text">
                        {%if i.complete == True%} 
                        <input type="checkbox" value="clicked" name="c{{i.id}}" checked>
                        {%elif i.complete == False%} 
                        <input type="checkbox" value="clicked" name="c{{i.id}}">  
                        {%endif%}
                    </div>
                </div>
                
                <table BORDER="2" CELLPADDING="2" CELLSPACING="2" WIDTH="60%">
                
                <tr >
                

                    <div class="form-inline">
                        <div class="control-group custom-control-inline">
                            <td>
                            <label class="control-label" for="inputPassword">Title:</label>
                            </td>
                            <div class="controls">
                            <td >
                                <input  type="text" value="{{i.text}}" name="item-name{{i.id}}" id="inputPassword" placeholder="Title"  class="form-control todolist-items"/>
                            </td>
                            </div>
                        </div>
                    </div>
                    <!---<div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="text" value="{{i.text}}" name="item-name{{i.id}}" class="form-control todolist-items"/>
                        </div>
                    </div>
                    <span class="label label-info">Title:</span>-->
                
                </tr>

                <tr>
                
                <!--<span class="label label-info">Description:</span>
                <input type="text" value="{{i.description}}" name="description{{i.id}}" class="form-control todolist-items"/>-->
                <div class="form-inline">
                    <div class="control-group custom-control-inline">
                        <td>
                        <label class="control-label" for="inputPassword">Description:</label>
                        </td>
                        <div class="controls" >
                        <td >
                            <input type="text" value="{{i.description}}" name="description{{i.id}}" id="inputPassword" placeholder="Description"  class="form-control todolist-items" />
                        </td>
                        </div>
                    </div>
                </div>
                
                </tr>


                <tr>
                    <div class="form-inline">
                        <div class="control-group custom-control-inline">
                            <td>
                            <label class="control-label" for="inputPassword">Category:</label>
                            </td>
                            <div class="controls" >
                            <td >
                                <input type="text" value="{{i.category}}" name="category{{i.id}}" id="inputPassword" placeholder="Description"  class="form-control todolist-items" readonly/>
                            </td>
                            </div>
                        </div>
                    </div>
                </tr>
                
                <tr>
                    <div class="form-inline">
                        <div class="control-group custom-control-inline">
                            <td>
                            <label class="control-label" for="inputPassword">Due Date:</label>
                            </td>
                            <div class="controls" >
                            <td >
                                <input type="text" value="{{i.due_date}}" name="due_date{{i.id}}" id="inputPassword" placeholder="Due Date"  class="form-control todolist-items" readonly/>
                            </td>
                            </div>
                        </div>
                    </div>
                </tr>
                
                <!--TODO-working-->
                
                <tr>
                    <div class="form-inline">
                        <div class="control-group custom-control-inline">
                            <td>
                            <label class="control-label" for="inputPassword">Image1:</label>
                            </td>
                            <div class="controls" >
                            <td >
                                <input type="text" value="{{i.image1}}" name="image1{{i.id}}" id="inputPassword" placeholder="Due Date"  class="form-control todolist-items" readonly/>
                            </td>
                            </div>
                        </div>
                    </div>
                </tr>

                </table>
                
                <div class="input-group-append">
                        <button type="button" class="btn btn-outline-danger btn-sm todolist-item-delete" data-todolist-item-id={{i.id}}>delete</button>
                </div>
            </div>
            
            <!--<table>
                <tr>
                    <td rowspan="2">
                        {%if i.complete == True%} 
                        <input type="checkbox" value="clicked" name="c{{i.id}}" checked>
                        {%elif i.complete == False%} 
                        <input type="checkbox" value="clicked" name="c{{i.id}}">  
                        {%endif%}
                    </td>
                    <td>
                        <input type="text" value="{{i.text}}" name="item-name{{i.id}}" class="form-control todolist-items"/>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                          </div>
                    </td>
                    <td>
                        
                    </td>
                    <td rowspan="2">
                        <button type="button" class="btn btn-outline-danger btn-sm todolist-item-delete" data-todolist-item-id={{i.id}}>delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" value="{{i.description}}" name="description{{i.id}}" class="form-control todolist-items"/>
                    </td>
                    <td>

                    </td>
                </tr>
            </table>-->
         {%endfor%}
        {%else%}
        <h4>this toDoList, does not have any items in it yet. lets change that, add a new item to this list...</h4>
        {%endif%}
  {%endfor%}
    
  <!---<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button type="submit" name="newItem" value="newItem" class="btn btn-success">newItem</button>
    </div>
    <input type="text" name="itemName">
   </div>-->
    <button type="submit" name="save" value="save" class="btn btn-success">save</button>
    <br></br>
    
</form>

<form method="post" action="#" class="form-inline" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{form|crispy}}-->
    <div class="panel panel-default">
        <hr class="custom-panel-heading-line"></hr>
        <div class="panel-heading">Add New Items</div>
        <hr class="custom-panel-heading-line"></hr>
        
        <table>
            {% for field in form %}
                <div class="fieldWrapper">
                    <!--{{ field.errors }} rendering custom errors-->
                    {% for error in field.errors %} 
                        <p  style="color: red">{{field.label}} : {{error}}</p>
                    {% endfor %}
                    <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                    </tr>
                </div>
            {% endfor %}    
            <tr>
                <!--merging 2 cells to center button. if needa  border :  border: 1px solid -->
                <td colspan="2">
                    <div style="text-align: center; margin-left: -9rem;">
                    <button type="submit" name="newItem" value="newItem" class="btn btn-success">newItem</button>        
                    </div>
                </td>
            </tr>
        </table>
        
        
        
    </div>
    
</form>
{%else%}
<h4>toDoList not found for id:{{id}}</h4>
{%endif%}
{%endblock%}